<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.DynamicData.EFProvider" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.EntityDataSource" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.7" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net462" developmentDependency="true" />
  <package id="NLog" version="4.0.0" targetFramework="net462" />
  <package id="NLog.InstallNLogConfig" version="2.0" targetFramework="net462" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net462" />
  <package id="System.Linq.Dynamic.3.5" version="1.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.0.1" targetFramework="net462" />
</packages>